#imagen1{
    height: 600px;
    background-image: url("../imagenes/Portada.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#imagen2{
    height: 600px;
    background-image: url("../imagenes/foto1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.informacion{
    
    background-color: green;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.texto{
    margin: auto;
    max-width: 50%;
    text-align: center; 
}

.cursos{
    background-image: url("../imagenes/ZonaViva.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    
}

#boton{
    width: 100px;
    height: 50px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: green;
    border-radius: 6px;
    border: 2px solid black;
    margin-bottom: 2%;
}

.imagenes_carrusel{
    width: 300px;
    height: 300px;
}